<!DOCTYPE html>
<html lang="en">

<%- include('includes/head', {title: "Meu Perfil"}) %>

<body>
    <%- include('includes/header') %>

    <main class="admflexcontainer">

        <div>
            <div class="containerinfosopcoes">
                <a class="opcaoinfos borda" href="/usuario/perfil">
                    <div class="admitem1"></div>
                </a>
                <a class="opcaoinfos" href="/usuario/perfil/agendamento">
                    <div class="perfilitem3"></div>
                </a>
            </div>
        </div>


        <form class="forms" method="POST" action="/usuario/editar?_method=put">
            <h3 class="tituloinfosadm">MINHA CONTA</h3>
            <label for="name" class="labelinfosadm">Nome</label><br>
            <input type="text" value="<%= inputValues.name %> " class="inputinfosadm" name="name" id="name"><br>
            <label for="lastname" class="labelinfosadm">Sobrenome</label><br>
            <input type="text" value="<%= inputValues.lastname %> " class="inputinfosadm" name="lastname"
                id="lastname"><br>
            <label for="email" class="labelinfosadm">E-mail</label><br>
            <input type="email" value=" <%= inputValues.email %> " class="inputinfosadm" name="email" id="email"><br>
            <label for="cpf" class="labelinfosadm">CPF</label><br>
            <input type="text" value="<%= inputValues.cpf %> " class="inputinfosadm" name="cpf" id="cpf"><br>
            <label for="birthdate" class="labelinfosadm">Data de Nascimento</label><br>
            <input type="date" class="inputinfosadm" name="birthdate" id="birthdate"
                value="<%= inputValues.birthdate %>"><br>
            <label for="phone" class="labelinfosadm">Telefone</label><br>
            <input type="tel" value=" <%= inputValues.phone %>  " class="inputinfosadm" name="phone" id="phone"><br>
            <button type="submit" class="botaoinfosadm">Salvar</button>
        </form>


    </main>

    <div class="teste1"></div>
    <div class="teste1"></div>

    <%- include('includes/footer') %>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>


</body>

</html>